.terms{
  background-color: #9c3434;
  height: 60vh;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  .term__back{
    padding-top: 19px;
    padding-bottom:1px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(39, 36, 36);
    p{
        font-size:16px;
        color: rgb(255, 255, 255);
    }
}
     
  }
